{% extends "::base.html.twig" %}

{% block title %}{% trans %}Protocol options{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Initial committee review{% endtrans %}</h1>
            </div>
        </div>
        
        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

        <!-- action -->
        <form method="POST" id='form-action'>
            <input type="hidden" id="input-is-final-revision" name="is-final-revision" value="false">
            <input type='hidden' name='accept-conditions' value="off">

            <div class='block'>
                {% if 'committee' in app.request.get('member') %}
                    <input type="hidden" id="member-type" name="member-type" value="committee">
                    {% include 'Proethos2CoreBundle:Protocol:committee_revisor_form.html.twig' %}
                {% else %}
                    <input type="hidden" id="member-type" name="member-type" value="adhoc">
                    {% include 'Proethos2CoreBundle:Protocol:adhoc_revisor_form.html.twig' %}
                {% endif %}
            </div>
            
            <div class='row'>
                <div class='submission-button-controls col-md-12'>
                    <button type="submit" class='btn btn-primary' id='button-save' {% if protocol_revision.isFinalRevision %}disabled{% endif %}>{% trans %}Save as draft{% endtrans %}</button>
                    <button type="button" class='btn btn-primary' id='button-save-and-finish' {% if protocol_revision.isFinalRevision %}disabled{% endif %}>
                        {% trans %}Save and mark as final revision{% endtrans %}
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("body").on("click", "#button-save-and-finish", function(e){
                $("#input-is-final-revision").val('true');
                $("#form-action").submit();
            });
/*
            $('#input-accept-conditions').on('ifChanged', function() {
                if ($(this).is(':checked')) {
                    $("#button-save").prop('disabled', false);
                    $("#button-save-and-finish").prop('disabled', false);
                } else {
                    $("#button-save").prop('disabled', true);
                    $("#button-save-and-finish").prop('disabled', true);
                }
            });
*/
        });
    </script>
{% endblock %}
